.tabs {
    width:100%;
    height: 500px;
    /*background-color: #2b86ff;*/
	overflow: scroll;
}

.tabs nav{
	background-color: #2d87ff !important;
	margin: 2px;
}

.navbar-nav a:hover {
    background-color: white;
}

/* The side navigation menu */
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #fff; /* White*/
    overflow-x: hidden; 
    padding-top: 60px; 
}
 
/* The navigation menu links */
.closebtn {
    padding-left: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
}
 
/* When you mouse over the navigation links, change their color */
.sidenav .closebtn:hover, .offcanvas a:focus{
    color: #ff3721;
    text-decoration: none;
}
 
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
}
 

 
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}
 
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
 
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
 
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/*Export and Import Buttons */
.sidenav button {
    margin-top: 10px;
    width: 50%;
    display: inline-block;
}

.tabs a {
	color: white;
}

.tabs a:hover {
	background-color: #1463e2;
}

.tabs nav {
	margin: 2px;
}



