body {
	height:150px;
	width:450px;
}

.container {
	padding: 5px;
}

.save-button {
    background-color: #317ef9;
}

.button-mngmt a:hover {
    background-color: #f2f2f2; 
}

.bg-g {
    color: #636363;
}

.list-group-item button {
    color: #f7f7f7;
    background-color: #000000;
}

.sort-control a:active {
	color: #254477;
}

#tabGroupList {
    list-style-type: none;
    text-indent: none;
}

button {
    cursor: pointer;
}